{% extends "base.html" %}

{% block content %}
<h1>{{ post.title }}</h1>
<p>{{ post.content }}</p>
<p>Created by {{post.author}}</p>
<p>Demo Link: <a href="{{ post.demo }}" target="_blank">{{ post.demo_link }}</a></p>

{% if post.media.all %}
    <h2>Media</h2>
    <ul>
        {% for media in post.media.all %}
            <li>
                <div class="w-72 h-48 overflow-hidden flex items-center justify-center bg-gray-100 rounded">
                    <img src="{{ media.url }}" alt="{{ media.title }}" class="max-w-full max-h-full object-contain" />
                </div>
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}